body {
  font-family: sans-serif;
  padding: 20px;
}
label {
  margin-right: 5px;
}
select {
  margin-right: 15px;
}
#results {
  margin-top: 30px;
}
.result-card {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
